.text-align{
    text-align: center;
}

.text-gray{
   color: #5D5D5D
}

.background-blue{
    background-color: #E2FFFF;
}

.make-border{
  border-style: solid;  
  border-width: 4px;
  margin-left: 400px;
  margin-right: 400px;
  margin-top: 0px;
  margin-bottom: 0px;
  border-color: #A9A9A9;
}
/* ^ trying to find a way to make a border fit well around centered text */


table {
  border-style: dotted;
  border-width: 2px;
  border-color: #A9A9A9;
}

.survey-color{
  color: black
}

.survey-color:hover{
  color: red;
  cursor: pointer;
}
/*^used to make the text on the form change color when a response is hovered over*/

#move-image-right{
  float: right;
}
#add-margin{
  margin: 12px;
}
#push-down-text{
  position: relative;
  top: 150px;
}
#push-down-image{
  position: relative;
  top: 50px
}
